# Code Owners

## Global

* @pixi-systems @starling-cloud @vanvianen

## Documentation

README.md   @vanvianen
/docs/      @vanvianen

## Python

*.py        @vanvianen

## Typescript

*.ts        @vanvianen

## SCSS

*.scss      @vanvianen
